<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./assets/css/style.css"> <!--always put this line after fonts because of how things load-->
        
        <title>Hangman with Vue</title>
    </head>
    <body>
        <div id="app">
            <header>
                <h1>Hangman with Vue</h1>
            </header>
            <main>
                <section>
                    <p id='gallows-line-1'></p>
                    <p id='gallows-line-2'></p>
                </section>
                <ul id='man'>
                    <li v-for="bodyPartShown in bodyPartsShown">{{ bodyPartShown }}</li> <!-- QQQ for later: Should key be 'bodyPart'? -->
                </ul>
                <ul id='word'>
                    <li v-for="letter in playerWordInProg">{{ letter }}</li>
                </ul>
                <ul id='alphabet'>
                    <li><button @click="checkIfLettInWord(alphaLett)" v-for="alphaLett in alphabet">{{ alphaLett }}</button></li>
                    <!-- remember '@click' is short for 'v-on:click' -->
                </ul>
            </main>
            <footer>

            </footer>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>