html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

#app {
  text-align: center;
}

[v-cloak] {
    display: none;
}

h1 {
    font-size: 25px;
    margin-bottom: 100px;
}

#gallows-line-1 {
  height: 2px;
  width: 400px;
  background-color: black;
  margin: auto;
}

#gallows-line-2 {
  height: 40px;
  width: 2px;
  background-color: black;
  margin: auto;
}

#man {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
}

#word {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#word li {
  /* flex-grow: 1; */
  margin: 0 15px 0 15px;
  font-size: 30px;
  text-transform: uppercase;
}

#alphabet {
  list-style-type: none;
  padding: 0;
  max-width: 228px;
  margin: auto;
  margin-top: 90px;
}











/* KEEP THIS AS A REFERENCE:
parent {
  display: flex;    mandatory 
  flex-direction: ;    row (default) | row-reverse | column | column-reverse 
  justify-content: ;    flex-start (default) | flex-end | center | space-between | space-around | space-evenly 
  align-items: ;    flex-start | flex-end | center | (baseline) | stretch (default) 
  flex-wrap: ;    nowrap (default) | wrap | wrap-reverse 
  align-content: ;    flex-start | flex-end | center | space-between | space-around | stretch (default) 
}

child {
  align-self: ;    flex-start | flex-end | center | (baseline) | stretch (default)
  flex-grow: ;    0 is default 
  flex-shrink: ;    1 is default 
  flex-basis: ;    auto is default 
  order: ;    0 is default 
}
*/